<div class="form-group form-group-lg">

	<label for="{{id}}" data-ng-if='labelRender'>
		{{label | translate}}
	</label>

	<div id="{{id}}" class="input-group">
		<input
			autocomplete="off"
			class="form-control"
			type="text"
			id="typeahead-{{id}}"
			name="{{id}}"
			ng-model="model"
			typeahead-min-length="minLength ? minLength : 1"
			ng-disabled='disabled'
			uib-typeahead="item as labelTypeahead(item) for item in findResult($viewValue) | limitTo:10"
			typeahead-on-select="setResultItem($item)"
			data-rel="tooltip"
			title="{{label | translate}}"
			ng-blur="limparCampoSemModel()"
			ng-keydown="removeModel($event)"/>


		<span class="input-group-btn">
            <button
				ng-if="!disabled"
				type="button"
				class="btn btn-default btn-lg"
				data-ng-click="limparCampo(); acaoBorracha();"
				ng-class="{'hover-directive' : (($hover == true) && !disabled)}"
				ng-mouseover="$hover = true"
				ng-mouseout="$hover = false">
				<i class="glyphicon glyphicon-erase"></i>
			</button>
		</span>

	</div>
</div>