label {
    color: #337ab7;
}

th {
    text-align: center;
}

hr {
    border-top: 1px solid #337ab7 !important;
}

.modal-header {
    background-color: #337ab7;
    color: white;
}

.table > thead > tr > th {
    background-color: #337ab7 !important;
    color: white !important;
}

.panel-body {
    padding: 25px !important;
}

.navbar-inverse {
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}

.navbar-nav {
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}

.navbar-brand {
    color: white !important;
    font-size: 20px !important;
}

.navbar-brand strong {
    font-size: 25px !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: white !important;
    color: #337ab7 !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: white !important;
}

/* Posição da mensagem */
.toast-top-right {
    top: 65px !important;
    right: 12px;
}

.pagination {
    padding: 0 !important;
    font-size: 18px !important;
    line-height: 1.3333333 !important;
    margin: 0 !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: white !important;
    background-color: #337ab7 !important;
    font-weight: bold !important;
}

.nav-tabs {
    border-bottom: 1px solid #337ab7 !important;
}

.label-detail {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

