label {
    color: #337ab7;
}

.modal-header {
    background-color: #337ab7;
    color: white;
}

.table > thead > tr > th {
    background-color: #337ab7 !important;
    color: white !important;
}

.panel-body {
    padding: 25px !important;
}

.navbar-inverse {
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}

.navbar-nav {
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}

.navbar-brand {
    color: white !important;
    font-size: 20px !important;
}

.navbar-brand strong {
    font-size: 25px !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: white !important;
    color: #337ab7 !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: white !important;
}

.dropdown-menu > li > a {
    color: #337ab7 !important;
}

/* Posição da mensagem */
.toast-top-right {
    top: 65px !important;
    right: 12px;
}
