<div class="modal-header">
	<h3 class="modal-title" id="modal-title">{{modalConfirmInfo.title}}</h3>
</div>
<div class="modal-body" id="modal-body">
	{{modalConfirmInfo.message}}
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="$dismiss('cancel');modalConfirmInfo.callback(true);">
		<span class="glyphicon glyphicon-ok">&nbsp;</span>{{modalConfirmInfo.confirmText}}
	</button>
	<button type="button" class="btn btn-primary"  ng-click="$dismiss('cancel');modalConfirmInfo.callback(false);">
		<span class="glyphicon glyphicon-remove">&nbsp;</span>{{modalConfirmInfo.cancelText}}
	</button>
</div>
