<div ng-class="{'has-error': form[id].$error.required && (!form[id].$pristine || form.$submitted) || removeInternalControl.dataInvalida}">
	<label
		for="{{id}}"
		ng-class="{'label-campo-obrigatorio' : form[id].$error.required && (!form[id].$pristine || form.$submitted) || removeInternalControl.dataInvalida}"
		ng-if='labelRender'>
		{{label | translate}}
		<i ng-if="labelInfoTooltipRender" class="glyphicon glyphicon-info-sign" uib-tooltip="{{labelInfoTooltip}}" tooltip-placement="top"></i>
		<!-- <i data-ng-if="labelQuestionTooltipRender" class="glyphicon glyphicon-question-sign" ui-tooltip="{{labelQuestionTooltip}}" tooltip-placement="top"></i> -->
	</label>
	<div class="input-group">
		<input
			class="form-control"
			id="{{id}}"
			name="{{id}}"
			type="text"
			ng-model="model"
			ng-disabled="disabled"
			ng-required="obrigatorio"
			ng-change="eventoChange();"
			ng-keyup="formataDataAoDigitar($event);"
			ng-keydown="formataDataAoDigitar($event);"
			ng-blur="formataDataAoDesfocar($event)"
			uib-datepicker-popup="{{datePickerFormat}}"
			datepicker-options="datePickerOptions"
			is-open="opened" min-date="minDate"
			max-date="maxDate"
			focus-me="focusOn"
			close-text="{{'LABEL.FECHAR' | translate}}"
			current-text="{{'LABEL.HOJE' | translate}}"
			clear-text="{{'LABEL.LIMPAR' | translate}}"/>
			
		<span class="input-group-btn">
			<button type="button" class="btn btn-default btn-lg" ng-disabled="disabled" ng-click="datePickerOpen($event);">
				<i class="glyphicon glyphicon-calendar"></i>
			</button>
			<button type="button" class="btn btn-default btn-lg" ng-disabled="disabled" ng-click="limparModel()">
				<i class="glyphicon glyphicon-erase"></i>
			</button>
		</span>
	</div>
</div>