<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title"><strong>{{'CATEGORIA.CATEGORIAS' | translate}}</strong></h2>
    </div>
    <div class="panel-body">
        <form name="categoriaForm">
            <div class="form-group form-group-lg">
                <div class="input-group" ng-if="status == 'list'">
                    <input focus-me="focuPesquisa" placeholder="{{'LABEL.PESQUISAR' | translate}}" ng-model="fields[0].value" class="form-control" id="descricaoCat" name="descricaoCat">
                    <span class="input-group-btn">
                        <button ng-if="status == 'list'" ng-click="getList()" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
                <div class="form-group" ng-if="status == 'edit'">
                    <label>{{'CATEGORIA.DESCRICAO' | translate}}</label>
                    <input focus-me="focuEdit" ng-model="fields[0].value" class="form-control" id="descricao" name="descricao">
                </div>
                <div style="text-align: right;" ng-if="status == 'edit'">
                    <hr>
                    <button ng-click="save()" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{'LABEL.SALVAR' | translate}}
                    </button>
                    <a ng-click="limpar()" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{'LABEL.VOLTAR' | translate}}
                    </a>
                </div>
            </div>
        </form><br>
        <div ng-if="categorias.length > 0 && status == 'list'">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>{{'CATEGORIA.CODIGO' | translate}}</th>
                        <th>{{'CATEGORIA.DESCRICAO' | translate}}</th>
                        <th>{{'LABEL.ACOES' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="categoria in categorias|itemsPerPage:pagination.limit" total-items="pagination.totalResults" current-page="pagination.currentPage">
                        <td width="5%">{{ categoria.id }}</td>
                        <td>{{ categoria.descricao }}</td>
                        <td width="10%" class="text-center">
                            <button class="btn btn-primary" ng-click="edit(categoria)">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-primary" ng-click="remove(categoria.id)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls on-page-change="getList()" boundary-links="true"></dir-pagination-controls>
        </div>
        <div style="text-align: right;" ng-if="status == 'list'">
            <hr>
            <button ng-click="add()" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><strong> {{'LABEL.NOVO' | translate}}</strong>
            </button>
        </div>
    </div>
</div>

