<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title"><strong>{{'CATEGORIA.CATEGORIA' | translate}}</strong></h2>
    </div>
    <div class="panel-body">
        <form name="categoriaForm">
            <div class="form-group form-group-lg">
                <label for="descricao">{{'CATEGORIA.DESCRICAO' | translate}}</label>
                <div class="input-group">
                    <input
                        ng-model="fields[0].value"
                        class="form-control"
                        id="descricao"
                        name="descricao"
                        required>
                    <span class="input-group-btn">
                        <button ng-if="status == 'home'" ng-click="save()" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        <button ng-if="status == 'home'" ng-click="getList()" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                        <button ng-if="status == 'edit'" ng-click="save()" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
                        <a ng-if="status == 'edit'" ng-click="limpar()" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </span>
                </div>
            </div>
        </form><br>
        <div ng-if="categorias.length > 0">
            <label><strong>{{'CATEGORIA.CATEGORIAS' | translate}}</strong></label>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>{{'CATEGORIA.CODIGO' | translate}}</th>
                        <th>{{'CATEGORIA.DESCRICAO' | translate}}</th>
                        <th>{{'LABEL.ACOES' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="categoria in categorias|itemsPerPage:pagination.limit" total-items="pagination.totalResults" current-page="pagination.currentPage">
                        <td width="5%">{{ categoria.id }}</td>
                        <td>{{ categoria.descricao }}</td>
                        <td width="10%" class="text-center">
                            <button class="btn btn-primary" ng-click="edit(categoria)">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-primary" ng-click="remove(categoria.id)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls max-size="5" boundary-links="true" on-page-change="getList()"></dir-pagination-controls>
        </div>
    </div>
</div>

