<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title"><strong>{{'EMPRESA.EMPRESAS' | translate}}</strong></h2>
    </div>
    <div class="panel-body">
        <form name="empresaForm">
            <div class="form-group form-group-lg">
                <div class="input-group" ng-if="status == 'list'">
                    <input placeholder="{{'LABEL.PESQUISAR' | translate}}" ng-model="fields[0].value" class="form-control" id="empresa" name="empresa">
                    <span class="input-group-btn">
                        <button ng-if="status == 'list'" ng-click="getList()" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
                <div ng-if="status == 'edit'">
                    <div class="form-group">
                        <label>{{'EMPRESA.NOME' | translate}}</label>
                        <input ng-model="empresa.nome" class="form-control" id="nome" name="nome">
                    </div>
                    <div class="form-group">
                        <label>{{'EMPRESA.AREA' | translate}}</label>
                        <input ng-model="empresa.area" class="form-control" id="area" name="area">
                    </div>
                    <div class="form-group">
                        <label>{{'EMPRESA.ENDERECO' | translate}}</label>
                        <input ng-model="empresa.endereco" class="form-control" id="endereco" name="endereco">
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>{{'EMPRESA.TELEFONE' | translate}}</label>
                            <input ng-model="empresa.telefone" class="form-control" id="telefone" name="telefone">
                        </div>
                        <div class="col-md-4">
                            <label>{{'EMPRESA.TELEFONE' | translate}}</label>
                            <input ng-model="empresa.telefoneAux" class="form-control" id="telefone1" name="telefone1">
                        </div>
                        <div class="col-md-4">
                            <label>{{'EMPRESA.EMAIL' | translate}}</label>
                            <input ng-model="empresa.email" class="form-control" id="email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{'EMPRESA.EMERGENCIA' | translate}}</label>
                        <input ng-model="empresa.contatoEmergencia" class="form-control" id="nome" name="nome">
                    </div>
                    <hr>
                    <div style="text-align: right;">
                        <button ng-click="save()" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{'LABEL.SALVAR' | translate}}
                        </button>
                        <a ng-click="limpar()" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{'LABEL.VOLTAR' | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </form><br>
        <div ng-if="empresas.length > 0 && status == 'list'">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>{{'EMPRESA.CODIGO' | translate}}</th>
                        <th>{{'EMPRESA.NOME' | translate}}</th>
                        <th>{{'EMPRESA.EMAIL' | translate}}</th>
                        <th>{{'EMPRESA.EMERGENCIA' | translate}}</th>
                        <th>{{'LABEL.ACOES' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="empresa in empresas|itemsPerPage:pagination.limit" total-items="pagination.totalResults" current-page="pagination.currentPage">
                        <td width="5%">{{ empresa.id }}</td>
                        <td>{{ empresa.nome }}</td>
                        <td>{{ empresa.email }}</td>
                        <td>{{ empresa.contatoEmergencia }}</td>
                        <td width="10%" class="text-center">
                            <button class="btn btn-primary" ng-click="edit(empresa)">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-primary" ng-click="remove(empresa.id)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls layout-align="center center" max-size="5" boundary-links="true" on-page-change="getList()"></dir-pagination-controls>
        </div>

        <div style="text-align: right;" ng-if="status == 'list'">
            <button ng-click="add()" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><strong> {{'LABEL.NOVO' | translate}}</strong>
            </button>
        </div>
    </div>
</div>

