<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title"><strong>{{'EMPRESA.EMPRESAS' | translate}}</strong></h2>
    </div>
    <div class="panel-body">
        <form name="empresaForm" novalidate autocomplete="off">
            <div class="form-group form-group-lg">
                <div class="input-group" ng-if="status == 'list'">
                    <input focus-me="focuPesquisa" placeholder="{{'LABEL.BUSCAR' | translate}}" ng-model="fields[0].value" class="form-control" id="empresa" name="empresa">
                    <span class="input-group-btn">
                        <button ng-if="status == 'list'" ng-click="getList()" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
                <div ng-if="status == 'edit'">
                    <div class="form-group">
                        <label-input form="empresaForm" ng-focus-on="focuEdit" ng-model="empresa.nome" ng-obrigatorio="true" name="nomeEmp" id="nomeEmp" ng-label="EMPRESA.NOME"></label-input>
                    </div>
                    <div class="form-group">
                        <label-input form="empresaForm" ng-model="empresa.area" ng-obrigatorio="true" name="areaEmp" id="areaEmp" ng-label="EMPRESA.AREA"></label-input>
                    </div>
                    <div class="form-group">
                        <label-input form="empresaForm" ng-model="empresa.endereco" ng-obrigatorio="true" name="endeEmp" id="endeEmp" ng-label="EMPRESA.ENDERECO"></label-input>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4" ng-class="{'has-error': (empresaForm.telefone.$error.required || empresaForm.telefone.$error.regexValidate) && (!empresaForm.telefone.$pristine || empresaForm.$submitted)}">
                            <label class="label-required" ng-class="{'label-campo-obrigatorio': (empresaForm.telefone.$error.required || empresaForm.telefone.$error.regexValidate) && (!empresaForm.telefone.$pristine || empresaForm.$submitted)}">{{'EMPRESA.TELEFONE' | translate}}</label>
                            <input ui-br-phone-number placeholder="{{'EMPRESA.TELEFONE' | translate}}" ng-model="empresa.telefone" class="form-control" id="telefone" name="telefone" required>
                        </div>
                        <div class="col-md-4" ng-class="{'has-error': (empresaForm.telefone1.$error.required || empresaForm.telefone1.$error.regexValidate) && (!empresaForm.telefone1.$pristine || empresaForm.$submitted)}">
                            <label class="label-required" ng-class="{'label-campo-obrigatorio': (empresaForm.telefone1.$error.required || empresaForm.telefone1.$error.regexValidate) && (!empresaForm.telefone1.$pristine || empresaForm.$submitted)}">{{'EMPRESA.TELEFONE' | translate}}</label>
                            <input ui-br-phone-number placeholder="{{'EMPRESA.TELEFONE' | translate}}" ng-model="empresa.telefoneAux" class="form-control" id="telefone1" name="telefone1" required>
                        </div>
                        <div class="col-md-4">
                            <label-input ng-type="email" form="empresaForm" ng-model="empresa.email" ng-obrigatorio="true" name="emailEmp" id="emailEmp" ng-label="EMPRESA.EMAIL"></label-input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label-input form="empresaForm" ng-model="empresa.contatoEmergencia" ng-obrigatorio="true" name="contEmerEmp" id="contEmerEmp" ng-label="EMPRESA.EMERGENCIA"></label-input>
                    </div>
                    <hr>
                    <div class="text-right">
                        <button ng-click="save()" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{'LABEL.SALVAR' | translate}}
                        </button>
                        <a ng-click="limpar()" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{'LABEL.VOLTAR' | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </form><br>
        <div ng-if="empresas.length > 0 && status == 'list'">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>{{'EMPRESA.CODIGO' | translate}}</th>
                        <th>{{'EMPRESA.NOME' | translate}}</th>
                        <th>{{'EMPRESA.EMAIL' | translate}}</th>
                        <th>{{'EMPRESA.EMERGENCIA' | translate}}</th>
                        <th>{{'LABEL.ACOES' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="empresa in empresas|itemsPerPage:pagination.limit" total-items="pagination.totalResults" current-page="pagination.currentPage">
                        <td width="5%">{{ empresa.id }}</td>
                        <td>{{ empresa.nome }}</td>
                        <td>{{ empresa.email }}</td>
                        <td>{{ empresa.contatoEmergencia }}</td>
                        <td width="10%" class="text-center">
                            <button class="btn btn-primary" ng-click="edit(empresa)">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-primary" ng-click="remove(empresa.id)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls on-page-change="getList()" boundary-links="true"></dir-pagination-controls>
        </div>
        <div class="text-right" ng-if="status == 'list'">
            <hr>
            <button ng-click="add()" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><strong> {{'LABEL.NOVO' | translate}}</strong>
            </button>
        </div>
    </div>
</div>

