<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title"><strong>{{'PERIGO.PERIGOS' | translate}}</strong></h2>
    </div>
    <div class="panel-body">
        <form id="autoCompleteForm" autocomplete="off">
            <auto-complete
                ng-find="findByname(value)"
                propriedades="['nome']"
                ng-id="idProduto"
                ng-label="PRODUTO.PRODUTO"
                ng-model="produto"
                ng-identificador="id"
                ng-min-length="3"
                ng-class-scroll="scroll"
                form="autoCompleteForm"
                ng-set-result="setProduto(item)">
            </auto-complete>
        </form>
        <div ng-repeat="perigo in perigos">
            <div class="panel panel-danger">
                <div class="panel-heading"><strong>{{ perigo.titulo }}</strong></div>
                <div class="panel-body">
                    <strong>{{ perigo.descricao }}</strong>
                </div>
            </div>
        </div>
    </div>
</div>

