<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title"><strong>{{'PERIGO.PERIGOS' | translate}}</strong></h2>
    </div>
    <div class="panel-body">
        <div class="form-group form-group-lg">
            <div class="row">
                <label for="selectEmpresa"><translate>{{'PRODUTO.PRODUTO' | translate}}</label><br>
                <select class="form-control dropdown-toggle" ng-model="produto" id="selectEmpresa" name="selectEmpresa"
                        data-ng-change="changePerigo()" ng-options="prod as prod.nome for prod in produtos">
                    <option value="">{{'LABEL.SELECIONE' | translate}}</option>
                </select>
            </div>
        </div>
        <div ng-repeat="perigo in perigos">
            <div class="panel panel-danger">
                <div class="panel-heading"><strong>{{ perigo.titulo }}</strong></div>
                <div class="panel-body">
                    <strong>{{ perigo.descricao }}</strong>
                </div>
            </div>
        </div>
    </div>
</div>

