<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title"><strong>{{'PRODUTO.PRODUTOS' | translate}}</strong></h2>
    </div>
    <div class="panel-body">
        <!-- List -->
        <div ng-if="status == 'list'">
            <form>
                <div class="form-group form-group-lg">
                    <div class="input-group">
                        <input focus-me="focuPesquisa" placeholder="{{'LABEL.PESQUISAR' | translate}}" ng-model="fields[0].value" class="form-control" id="descricao" name="descricao">
                        <span class="input-group-btn">
                            <button type="submit" ng-click="getList()" class="btn btn-primary btn-lg">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </form><br>
            <table ng-if="pagination.list.length > 0" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>{{'PRODUTO.CODIGO' | translate}}</th>
                        <th>
                            <a class="column-sort" ng-click="onSort(0, 'nome');">{{'PRODUTO.NOME' | translate}}
                                <span data-ng-class="{'glyphicon glyphicon-chevron-up' : orders[0].direction === 'asc', 'glyphicon glyphicon-chevron-down' : orders[0].direction === 'desc', 'glyphicon glyphicon-sort' : orders[0].direction === null}"></span>
                            </a>
                        </th>
                        <th>{{'PRODUTO.DATA_VENCIMENTO' | translate}}</th>
                        <th>{{'LABEL.ACOES' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="produto in pagination.list|itemsPerPage:pagination.limit" total-items="pagination.totalResults" current-page="pagination.currentPage">
                        <td width="5%">{{ produto.codigoServico }}</td>
                        <td>{{ produto.nome }}</td>
                        <td width="15%">{{ produto.dataVencimento | date:"dd/MM/yyyy" }}</td>
                        <td width="15%" class="text-center">
                            <button class="btn btn-primary" ng-click="edit(produto.id)">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-primary" ng-click="remove(produto.id)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-primary" ng-click="detail(produto.id)">
                                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <dir-pagination-controls ng-if="pagination.list.length > 0" max-size="5" boundary-links="true" on-page-change="getList()"></dir-pagination-controls>
            <hr>
            <div class="text-right">
                <a ng-click="add()" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><strong> {{'LABEL.NOVO' | translate}}</strong>
                </a>
            </div>
        </div>
        <!-- Form -->
        <div ng-if="status == 'edit' || status == 'detail'" class="form-group form-group-lg">
            <form name="produtoForm" novalidate autocomplete="off">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#identificacao" aria-controls="identificacao" role="tab" data-toggle="tab">Identificação</a></li>
                    <li role="presentation"><a href="#perigo" aria-controls="perigo" role="tab" data-toggle="tab">{{'PERIGO.PERIGO' | translate}}</a></li>
                </ul><br>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="identificacao">
                        <div class="row">
                            <div class="col-md-2">
                                <label ng-if="status == 'detail'" class="label-detail">{{ produto.codigoServico }}</label>
                                <label-input ng-if="status == 'edit'" form="produtoForm" ng-focus-on="focuEdit" ng-model="produto.codigoServico" ng-obrigatorio="true" name="inputCod" id="inputCod" ng-label="PRODUTO.CODIGO"></label-input>
                            </div>
                            <div class="col-md-10">
                                <label ng-if="status == 'detail'" class="label-detail">{{ produto.nome }}</label>
                                <label-input ng-if="status == 'edit'" form="produtoForm" ng-model="produto.nome" ng-obrigatorio="true" name="inputNome" id="inputNome" ng-label="PRODUTO.NOME"></label-input>
                            </div>
                        </div><br ng-if="status == 'edit'">
                        <div class="row">
                            <div class="col-md-8">
                                <label ng-if="status == 'detail'" class="label-detail">{{ produto.empresa.nome }}</label>
                                <label-select ng-label="PRODUTO.EMPRESA" ng-obrigatorio="true" form="produtoForm" ng-model="produto.empresa.id" ng-list="empresas"></label-select>
                            </div>
                            <div class="col-md-4">
                                <label ng-if="status == 'detail'" class="label-detail">{{ produto.categoria.descricao }}</label>
                                <label-select ng-label="PRODUTO.CATEGORIA" ng-obrigatorio="true" form="produtoForm" ng-model="produto.categoria.id" ng-list="categorias"></label-select>
                            </div>
                        </div><br ng-if="status == 'edit'">
                        <div class="row">
                            <div class="col-md-4" ng-if="status == 'edit'">
                                <label-input-date required ng-id="dataVencimento" ng-label="PRODUTO.DATA_VENCIMENTO" ng-obrigatorio="true" ng-model="produto.dataVencimento" form="produtoForm"/>
                            </div>
                            <div class="col-md-4" ng-if="status == 'detail'">
                                <label>{{'PRODUTO.DATA_VENCIMENTO' | translate}}</label><br>
                                <label class="label-detail">{{ produto.dataVencimento | date:"dd/MM/yyyy" }}</label>
                            </div>
                        </div><br ng-if="status == 'edit'">
                        <div class="row">
                            <div class="col-md-4" ng-if="status == 'edit'">
                                <label>{{'PRODUTO.CORROSIVO' |  translate}}
                                    <input required id="checkCorrosivo" name="checkCorrosivo" type="checkbox" value="true" ng-model="produto.corrosivo">
                                </label>
                            </div>
                            <div class="col-md-4" ng-if="status == 'detail'">
                                <label>{{'PRODUTO.CORROSIVO' |  translate}}</label><br>
                                <label class="label-detail">{{ produto.corrosivo ? ('LABEL.SIM' | translate) : ('LABEL.NAO' | translate) }}</label>
                            </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="perigo">
                        <div class="form-group">
                            <label-input ng-if="status == 'edit'" form="perigoForm" ng-model="perigo.titulo" ng-obrigatorio="true" name="inputPerTitle" id="inputPerTitle" ng-label="PERIGO.TITULO"></label-input>
                        </div>
                        <div class="form-group">
                            <label-input ng-if="status == 'edit'" form="perigoForm" ng-model="perigo.descricao" ng-obrigatorio="true" name="inputPerDesc" id="inputPerDesc" ng-label="PERIGO.DESCRICAO"></label-input>
                        </div>
                        <div style="text-align: right;">
                            <hr>
                            <button ng-click="addPerigo()" class="btn btn-primary btn-lg">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'LABEL.ADICIONAR' | translate}}
                            </button>
                        </div><br>
                        <table ng-show="perigos.length > 0" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{{'PERIGO.TITULO' | translate}}</th>
                                    <th>{{'PERIGO.DESCRICAO' | translate}}</th>
                                    <th>{{'LABEL.ACOES' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="perigo in perigos|itemsPerPage:pagination.limit">
                                    <td width="30%">{{ perigo.titulo }}</td>
                                    <td>{{ perigo.descricao }}</td>
                                    <td width="10%" class="text-center">
                                        <button class="btn btn-primary">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        </button>
                                        <button class="btn btn-primary" ng-click="removePerigo($index)">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls on-page-change="getList()" boundary-links="true"></dir-pagination-controls>
                    </div>
                </div>
                <hr>
                <div class="text-right">
                    <button ng-if="status == 'edit'" ng-click="save()" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span><strong> {{'LABEL.SALVAR' | translate}}</strong>
                    </button>
                    <a ng-click="initList()" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span><strong> {{'LABEL.VOLTAR' | translate}}</strong>
                    </a>
                </div>
            </form>
            <div ng-footter style="float: left;"/>
        </div>
    </div>
</div>

