<div ng-class="{'has-error': form[id].$error.required && (!form[id].$pristine || form.$submitted)}">
    <label
        for="{{id}}"
        ng-class="{'label-campo-obrigatorio': form[id].$error.required && (!form[id].$pristine || form.$submitted)}"
        ng-if='labelRender'>
        {{label | translate}}
        <i data-ng-if="labelInfoTooltipRender" class="glyphicon glyphicon-info-sign" uib-tooltip="{{labelInfoTooltip}}" tooltip-placement="top"></i>
        <!-- <i data-ng-if="labelQuestionTooltipRender" class="glyphicon glyphicon-question-sign" ui-tooltip="{{labelQuestionTooltip}}" tooltip-placement="top"></i> -->
    </label>
	<select
        class="form-control"
        name="{{id}}"
        id="{{id}}"
        ng-model="model"
        ng-options="item.value as item.name for item in lista"
        ng-disabled="disabled"
        ng-required="obrigatorio">
        <option value="">{{'LABEL.SELECIONE' | translate}}</option>
    </select>
</div>